@page "/cart"
@inherits CartBase

<h3>Your Extra Super Extra Duper New Shopping Cart</h3>

@if(Model != null){
    @foreach (var line in Model.Items)
    {
        <Item Details="@line" OnDeleted="ReloadCart" OnQuantityChanged="ReloadCart"/>
    }
}